form {
  margin-top: 1.25rem;
}

fieldset {
  border: none;
  display: grid;
  gap: 1.5rem;
}

.input-wrapper {
  label {
    font-family: "Open Sans", sans-serif;
    color: #ffffff8e;
    font-size: 14px;
    line-height: auto;
    font-weight: 400;
    padding-left: 130px;
  }

  input {
    margin-top: 10px;
    display: block;
    width: 600px;
    border-radius: 0.5rem;
    border: 1px solid var(--input-stroke);
    padding: 0.9rem 1rem;
    background-color: var(--input-base);
    margin-left: 130px;
    color: white;
  }
}

input::placeholder {
  font-family: "Open Sans", sans-serif;
  color: var(--input-placeholder);
  font-size: 16px;
  line-height: auto;
  font-weight: 400;
}

.date-wrapper {
  gap: 20px;
  display: flex;
  padding-left: 130px;
  padding-top: 2px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff8e;
  font-size: 14px;
  line-height: auto;
  font-weight: 400;
}

.input-group input {
  padding: 0.9rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--input-stroke);
  background-color: var(--input-base);
  width: 290px;
  color: white;
}

.input-group input::placeholder {
  font-family: "Open Sans", sans-serif;
  color: var(--input-placeholder);
  font-size: 16px;
  line-height: auto;
  font-weight: 400;
}

.toggle-container {
  margin-left: 130px;
  margin-top: 0;
}

input[type="radio"] {
  display: none; /* Esconde os inputs de rádio */
}

.toggle-button {
  margin-top: 16px;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 10px 33px;
  border: 1px solid var(--input-stroke);
  border-radius: 8px;
  background-color: var(--input-base);
  color: var(--input-placeholder);
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Transições suaves */
  user-select: none;
}

input[type="radio"]:checked + .toggle-button {
  background-color: #2d3136; /* Cor de fundo quando marcado */
  color: #fff; /* Cor do texto quando marcado */
}

.toggle-button:hover {
  background-color: #3a4049; /* Cor de fundo quando em hover */
  color: #fff; /* Cor do texto quando em hover */
}

.toggle-icon {
  width: 20px; /* Ajuste o tamanho da imagem conforme necessário */
  height: 20px; /* Ajuste o tamanho da imagem conforme necessário */
  margin-right: 10px;
}

.input-class {
  display: flex;
  gap: 18px;
}

.toggle-container p {
  font-family: "Open Sans", sans-serif;
  color: #ffffff8e;
  font-size: 14px;
  line-height: auto;
  font-weight: 400;
}

.textarea-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 130px;
  margin-right: 130px;

  & label {
    font-family: "Open Sans", sans-serif;
    color: #ffffff8e;
    font-size: 14px;
    line-height: auto;
    font-weight: 400;
  }

  textarea {
    height: 136px;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 8px;
    margin-top: 10px;
    color: white;
  }
}

.textarea-wrapper textarea::placeholder {
  font-family: "Open Sans", sans-serif;
  color: var(--input-placeholder);
  font-size: 16px;
  line-height: auto;
  font-weight: 400;
  padding-left: 16px;
  padding-top: 16px;
}
